<?xml version="1.0"?>
<robot name="youbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- The following included files set up definitions of parts of the robot body -->
  <!-- misc common stuff? -->
  <xacro:include filename="$(find youbot_description)/urdf/common.xacro" />

  <!-- youbot base -->
  <xacro:include filename="$(find youbot_description)/urdf/youbot_base/base.urdf.xacro" />

  <!-- youbot plate -->
  <!--xacro:include filename="$(find youbot_description)/urdf/youbot_plate/plate.urdf.xacro" /--> 

  <!-- youbot arm -->
  <xacro:include filename="$(find youbot_description)/urdf/youbot_arm/arm.urdf.xacro"/>

  <!-- youbot gripper -->
  <xacro:include filename="$(find youbot_description)/urdf/youbot_gripper/gripper.urdf.xacro" />

  <!-- youbot profile frame -->
  <xacro:include filename="$(find youbot_description)/urdf/youbot_profile_frame/profiles.urdf.xacro" /> 

  <!-- youbot X4 LiDAR -->
  <xacro:include filename="$(find youbot_description)/urdf/sensors/X4.urdf.xacro" /> 

  <!-- youbot aruco marker on X4 LiDAR -->
  <xacro:include filename="$(find youbot_description)/urdf/aruco_marker/aruco_marker_0.urdf.xacro" /> 

  <!-- Now we can start using the macros included above to define the actual youbot -->
  <xacro:youbot_base name="base" namespace=""/>

  <!--xacro:youbot_plate name="plate" parent="base_link">
    <origin xyz="-0.135 0 0.051" rpy="0 0 0" />
  </xacro:youbot_plate-->

  <xacro:youbot_arm name="arm" parent="base_link" namespace="">
    <origin xyz="0.135 0.0 0.051" rpy="0 0 0" />
  </xacro:youbot_arm>

  <xacro:youbot_gripper name="gripper" parent="arm_link_5" namespace="">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:youbot_gripper>

  <xacro:youbot_profile_frame name="profiles" parent="base_link">
    <origin xyz="0.0 0 0.044" rpy="0 0 0" /> <!-- profiles origin frme is on the base upper surface of the base plate-->
  </xacro:youbot_profile_frame>

  <!-- LiDAR -->
  <xacro:x4 name="x4" parent="base_link">
    <origin xyz="-0.369 0 0.058" rpy="0 0 0" /> <!-- profiles origin frme is on the base upper surface of the base plate-->
  </xacro:x4>

  <!-- Kamera -->
  <xacro:include filename="$(find youbot_description)/urdf/sensors/asus_xtion_camera.urdf.xacro" />
  <xacro:asus_xtion_camera name="camera" parent="arm_link_5" tilt="0.0">
    <origin xyz="-0.03 -0.002 -0.023" rpy="0 -1.60 0" />
  </xacro:asus_xtion_camera>

  <!-- aruco marker on LiDAR -->
  <xacro:aruco_marker_0 name="aruco_marker_0" parent="x4_plate_link">
    <origin xyz="0 0 0.005" rpy="0 0 0" /> <!-- profiles origin frme is on the base upper surface of the base plate-->
  </xacro:aruco_marker_0>


</robot>
